
:root {
  --button-height: 120px;
  --button-gap: 10px;
}


body {
  background: linear-gradient(138deg, rgba(17,113,90,1) 0%, rgba(47,151,159,1) 35%, rgba(0,164,255,1) 100%);
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', 'Arial', sans-serif;
}

.content-body{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator-body {
  background: linear-gradient(119deg, rgba(136,224,255,1) 0%, rgba(12,127,179,1) 100%);
  filter: drop-shadow(-4px 8px 10px #000000);
  padding: 40px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}

.display {
  color: rgb(4, 46, 73);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 0px;
  margin-bottom: calc(3 * var(--button-gap));
  border-radius: 20px;
  overflow: hidden;
}

.subdisplay {
  box-sizing: content-box;
  text-align: right;
  padding: 10px;
  height: 1em;
}

.subdisplay__input {
  background: linear-gradient(90deg, rgba(201, 233, 255, 1) 10%, rgba(240, 249, 255,1) 100%);
  font-size: 80px;
  font-weight: 400;  
}

.subdisplay__expression {
  background: rgb(201, 233, 255);
  font-size: 50px;
  font-weight: 300;
}
.button-container {
  display: flex;
  gap: calc(3 * var(--button-gap));
}

.button-container__subgroup {
  flex-direction: column;
  align-items: end;
  gap: var(--button-gap);
}

.button-row {
  display: flex;
  gap: var(--button-gap);
}

.button {
  box-sizing: content-box;
  font-size: 75px;
  padding: 0.2em;
  line-height: 1em;
  width: 1em;
  border-radius: 50%;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 300;
  border: 0px;
}

.button--big-button {
  width: calc(2.4em + var(--button-gap)); 
  height: 1em;
  border-radius: 0.7em;
}

.button--numerical {
  color: rgb(4, 46, 73);
  background: linear-gradient(135deg, rgb(227, 241, 250) 10%, rgb(182, 219, 243) 100%);
}

.button--operator, .button--special{
  color: rgb(195, 221, 236);
  background-color: rgb(49, 100, 134);
  background: linear-gradient(135deg, rgb(55, 107, 143) 10%, rgb(36, 82, 112) 100%); 
}

.button--highlight {
  color: rgb(15, 84, 90);
  background-color: rgb(49, 100, 134);
  background: linear-gradient(135deg, rgb(204, 245, 255) 10%, rgb(91, 233, 255) 60%, rgb(10, 60, 68) 100%); 
}

.footer {
  font-size: 22px;
  padding-bottom: 20px;
  color: rgb(210, 231, 243);
  text-align: center;
}